body {
    color: rgb (0, 67, 67);
    font-family:'Courier New', Courier, monospace;
    text-decoration: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(186,0,0);
}
h1{
    color: aliceblue;
}